@model CS350_BaggingApplication.ViewModels.CalculateOrderResultViewModel

@{
    ViewBag.Title = "Calculate Order";
}

<h2>Here is your order!</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Key.Name</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<p>Total Number of items: @Model.TotalItems</p>
<p>Total Weight: @Model.TotalWeight</p>

<h3>Packaging used: @Model.PackagingUsed.Name</h3>
<p>Bags needed: @Model.BagsNeeded</p>