@model CS350_BaggingApplication.ViewModels.CalculateOrderResultViewModel

@{
    ViewBag.Title = "Calculate Order";
}

<h2>Here is your order!</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Key.Name</td>
                <td>@string.Format("{0:C}", item.Key.Price * item.Value)</td>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>

<div class="grid-container order-table">
    <table class="table grid-item">
        <tbody>
            <tr>
                <td>Total Number of items:</td>
                <td>@Model.TotalItems</td>
            </tr>
            <tr>
                <td>Total Price of items:</td>
                <td>@string.Format("{0:C}", Model.TotalPrice)</td>
            </tr>
            <tr>
                <td>Total Weight:</td>
                <td>@Model.TotalWeight lbs</td>
            </tr>
        </tbody>
    </table>

    <table class="table grid-item">
        <tbody>
            <tr>
                <td>Packaging used:</td>
                <td>@Model.PackagingUsed.Name</td>
            </tr>
            <tr>
                <td>Bags needed:</td>
                <td>@Model.BagsNeeded</td>
            </tr>
        </tbody>
    </table>
</div>