@model CS350_BaggingApplication.ViewModels.PackagingFormViewModel

@{
    ViewBag.Title = "New Packaging";
}

<h2>NewPackaging</h2>

@using (Html.BeginForm("SavePackaging", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(pack => pack.Name)
        @Html.TextBoxFor(pack => pack.Name)
        @Html.ValidationMessageFor(pack => pack.Name);
    </div>
    <div class="form-group">
        @Html.LabelFor(pack => pack.WeightCapacity)
        @Html.TextBoxFor(pack => pack.WeightCapacity)
    </div>
    <div class="form-group">
        @Html.LabelFor(pack => pack.HardItemLimit)
        @Html.TextBoxFor(pack => pack.HardItemLimit)
        @Html.ValidationMessageFor(pack => pack.HardItemLimit)
    </div>
    <div class="form-group">
        @Html.LabelFor(pack => pack.Height)
        @Html.TextBoxFor(pack => pack.Height)
        @Html.ValidationMessageFor(pack => pack.Height)
    </div>
    <div class="form-group">
        @Html.LabelFor(pack => pack.Width)
        @Html.TextBoxFor(pack => pack.Width)
        @Html.ValidationMessageFor(pack => pack.Width)
    </div>
    <div class="form-group">
        @Html.LabelFor(pack => pack.Length)
        @Html.TextBoxFor(pack => pack.Length)
        @Html.ValidationMessageFor(pack => pack.Length)
    </div>
    @Html.HiddenFor(pack => pack.Id)
    <button class="btn btn-primary">Create</button>

}