@model CS350_BaggingApplication.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Item Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>About</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Description</td>
            @if (string.IsNullOrWhiteSpace(Model.Description))
            {
                <td>This item does not have a description.</td>
            }
            else
            {
                <td>@Model.Description</td>
            }

        </tr>
        <tr>
            <td>Quantity</td>
            <td>@Model.Quantity Pieces</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@string.Format("{0:C}", Model.Price)</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>@Model.Weight lbs</td>
        </tr>
        <tr>
            <td>Size</td>
            <td>@Model.Height X @Model.Width X @Model.Length in</td>
        </tr>
    </tbody>
</table>
